* {
	margin: 0 auto;
}

/*header element style*/

header {
	backgroud-color: #F4F4F4;
	text-align: center;
}

#h {
	color: #E7843C;
}

/*main element style*/

main {
	background-color: #37A18B;
	text-align: center;
}

#m {
	color: #2A4651;
}

.img {
	
}

.pic {
	width: 250px;
	height: 250px;
}

figcaption {
	color: #F4F4F4;
}

/*footer element style*/

footer {
	background-color: #F4F4F4;
	text-align: center;
}

#button {

	width: 300px;
	height: 50px;

	background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, grey); /* Standard syntax */

    border: 2px solid #2A4651;
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 2em;
}

a {
	color: #2A4651;
	text-decoration: none;
}